html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Meiryo" ;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: #0000EE;
}